<section class="subfooter">
    <div class="up-footer">

        
    </div>


</section>





<footer>
    <div class="main-footer">
        <div class="main-footer-section-1">
                <a href="{{ site.url }}">{{ site.title }}</a>
                <span>We show the future!</span>
        </div>
        <div class="main-footer-section-2">
            <p>About Us</p>            
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Bulgaria, Sofia 1000</li>
                <li><i class="fas fa-phone"></i> (+359) 888 123 456</li> 
                <li><i class="fas fa-fax"></i> (+359) 02 678 900</li>
                <li><i class="fas fa-envelope"></i> pcreview@gmail.com</li>
            </ul>
        </div>
        <div class="main-footer-section-3">
            <p>Links</p>            
            <ul class="nav-footer">
                {% for item in site.data.navigation %}
                <li class="nav-item-footer">
                    <a class="nav-link-footer" href="{{ item.path }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-footer-section-4">
               <img src="/assets/images/pc-icon.png" alt="">
            </div>
           
    </div>
    <div class="footer-bottom">
        <p>All rights reserved &copy; {{ site.title }} 2019 created by chrisbg69</p>
        
    </div>
</footer>


