@keyframes "coin-rotate" {
	0% {
		transform: rotateY(0);
	}
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}
.grid-text {
	text-align: center;
	margin-bottom: 0;
}
.grid-paragraph {
	text-align: center;
	margin-bottom: 2rem;
}
.grid-conteiner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1em;
	margin-bottom: 2em;
}
.grid-block {
	display: grid;
	background-color: #cccccc;
	border: 2px solid #385170;
	border-radius: 1em;
}
.main-grid-content {
	list-style: none;
	text-align: center;
	padding: 0.5em;
	li {
		margin-top: 0.5em;
		i {
			color: #385170;
		}
	}
}
.clients_list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	grid-gap: 1em;
	margin-bottom: 2em;
	a {
		&:hover {
			animation: coin-rotate 1s both infinite;
		}
	}
}
.grid-clents {
	display: grid;
	justify-self: center;
}
.section_header {
	margin-bottom: 0;
	text-align: center;
}
