@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap";


* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	&:before {
		margin: 0;
		padding: 0;
		box-sizing: inherit;
	}
	&:after {
		margin: 0;
		padding: 0;
		box-sizing: inherit;
	}
}
html {
	box-sizing: border-box;
	font: var(--font-size-body, 14px)/1.5 'Roboto', sans-serif;
}
table {
	font: inherit;
	background: var(--color-body-bgrd, #FFF);
	color: var(--color-body-text, #000);
}
form {
	font: inherit;
	background: var(--color-body-bgrd, #FFF);
	color: var(--color-body-text, #000);
}
select {
	font: inherit;
	background: var(--color-body-bgrd, #FFF);
	color: var(--color-body-text, #000);
}
option {
	font: inherit;
	background: var(--color-body-bgrd, #FFF);
	color: var(--color-body-text, #000);
}
input {
	font: inherit;
	background: var(--color-body-bgrd, #FFF);
	color: var(--color-body-text, #000);
}
textarea {
	font: inherit;
	background: var(--color-body-bgrd, #FFF);
	color: var(--color-body-text, #000);
}
h1 {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 2.6em;
}
h2 {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 2.0em;
}
h3 {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
}
h4 {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
}
h5 {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 1.0em;
}
p {
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	color: var(--color-link-default, #0A0);
}
ul {
	padding-left: 2em;
	ul {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	ol {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
}
ol {
	padding-left: 2em;
	ul {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	ol {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	>li {
		>ol {
			>li {
				list-style-type: lower-roman;
			}
		}
	}
}
blockquote {
	padding: 1rem;
	.author {
		font-style: italic;
		text-align: right;
		opacity: 0.5;
		&:before {
			display: inline-block;
			content: '\2014';
			padding-right: 0.5em;
		}
	}
}
