:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    --color-body-bgrd: #ececec;
    --color-site-main: #385170;
    --color-link-default: #9fd3c7;
}