@import url('typography.css');

body { 
    font-family: sans-serif;
    background-color: #ececec;
}

h1, h2, h3, h4, h5 {
    color: #142d4c;
}

a, a:hover {
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #142d4c;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    color: #142d4c;
}

header {   
    height: 5rem;
    background-color: #385170;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}

header .site-name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    padding-top: 0.8rem;
}

header .site-name a {
    color: #ffffff;
    
}

nav {
    align-self: center;
}

nav .nav {
    display: flex;
}

nav .nav-item {
    margin: 0 10px;
    list-style: none;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #9fd3c7;
}

footer {
    padding: 15px;
    color: #ffffff;
    background-color: #385170;
    box-shadow: 0 50vh 0 50vh #385170;
    text-align: center;
}

main {
    max-width: 1100px;
    margin: auto;
}

article {
    background-color: #ffffff;
    padding: 15px;
    margin: 30px 0;
}