@import url('typography.css');
@import url('grid.css');
@import url('slider.css');
@import url('variables.css');


body { 
    
    background-color: #ececec;
}

main {
    max-width: 1100px;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    color: #142d4c;
}

a, a:hover {
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #142d4c;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    color: #142d4c;
}

.top-header {
    height: 2rem;
    background-color: #282727;
    border-bottom: 1px solid #ececec;
}

.header-links {
    display: flex;
    list-style: none;
    color: #ffffff;
    justify-content: flex-end;
    padding-right: 10px;
    
    
}

.header-links li {
    font-weight: 300;
    font-size: small;
    line-height: 2rem;  
    
}

.header-links li:nth-child(1){
    padding-right: 5px;
}

.header-links li:nth-child(2){
    padding-right: 10px;
}

.header-links li:nth-child(3){
    padding-right: 10px;
}

.header-links li:nth-child(4){
    padding-right: 5px;
}

.header-links li:nth-child(5){
    padding-right: 10px;
}



header {   
    height: 5rem;
    background-color: #385170;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}

header .site-name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8;
    color: #ffffff;
    
}

header .site-name a {
    font-family: 'Kaushan Script', cursive;

    color: #ffffff;
    
}

nav {
    align-self: center;
}

nav .nav {
    display: flex;
}

nav .nav-item {
    margin: 0 10px;
    list-style: none;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #9fd3c7;
}

footer {
    height: 5rem;
    padding: 15px;
    color: #ffffff;
    background-color: #385170;
    box-shadow: 0 50vh 0 50vh #385170;
    text-align: left;
}

footer p {
    line-height: 5rem;
}



article {
    background-color: #ffffff;
    padding: 15px;
    margin: 30px 0;
}