---
title: Global pc review
layout: default
---

<!-- Slideshow 4 -->
<div class="callbacks_container">
  <ul class="rslides" id="slider4">
    <li>
      <img src="/assets/images/1.jpg" alt="">
      <p class="caption">PC repair solutions</p>
    </li>
    <li>
      <img src="/assets/images/2.jpg" alt="">
      <p class="caption">Find your apple model and compatible upgrades</p>
    </li>
    <li>
      <img src="/assets/images/3.jpg" alt="">
      <p class="caption">Laptops for gaming and more...</p>
    </li>
  </ul>
</div>

<h2 class="grid-text">Categories</h2>
<p class="grid-paragraph">Latest models of PC's, Peripheral and Mobile Devices</p>

<section class="grid-conteiner">
  <div class="grid-block">
    <ul class="main-grid-content">
      <li><i class="fas fa-desktop fa-5x"></i></li>
      <li>
        <h5>Desktop Computers</h5>
      </li>
      <li>
        <a href="/categories/" class="myButton">View More</a>
      </li>
    </ul>
  </div>
  <div class="grid-block">
    <ul class="main-grid-content">
      <li><i class="fas fa-laptop fa-5x"></i></li>
      <li>
        <h5>Laptops</h5>
      </li>
      <li>
        <a href="/categories/" class="myButton">View More</a>
      </li>
    </ul>
  </div>
  <div class="grid-block">
    <ul class="main-grid-content">
      <li><i class="fas fa-tablet-alt fa-5x"></i></li>
      <li>
        <h5>Tablets</h5>
      </li>
      <li>
        <a href="/categories/" class="myButton">View More</a>
      </li>
    </ul>
  </div>
  <div class="grid-block">
    <ul class="main-grid-content">
      <li><i class="fas fa-mobile-alt fa-5x"></i></li>
      <li>
        <h5>Mobile Phones</h5>
      </li>
      <li>
        <a href="/categories/" class="myButton">View More</a>
      </li>
    </ul>
  </div>
  <div class="grid-block">
    <ul class="main-grid-content">
      <li><i class="fas fa-network-wired fa-5x"></i></li>
      <li>
        <h5>Network</h5>
      </li>
      <li>
        <a href="/categories/" class="myButton">View More</a>
      </li>
    </ul>
  </div>
  <div class="grid-block">
    <ul class="main-grid-content">
      <li><i class="fab fa-windows fa-5x"></i></li>
      <li>
        <h5>Software</h5>
      </li>
      <li>
        <a href="/categories/" class="myButton">View More</a>
      </li>
    </ul>
  </div>
</section>

<section class="clients_section">
  <h2 class="section_header">Our clients</h2>
  <p class="grid-paragraph">All of them are satisfied</p>
  <div class="clients_list">
    <a href="#" class="grid-clents"><img src="/assets/images/wordpress.png" alt="client"></a>
    <a href="#" class="grid-clents"><img src="/assets/images/jquery.png" alt="client"></a>
    <a href="#" class="grid-clents"><img src="/assets/images/microlancer.png" alt="client"></a>
    <a href="#" class="grid-clents"><img src="/assets/images/bbpress.png" alt="client"></a>
    <a href="#" class="grid-clents"><img src="/assets/images/wpml.png" alt="client"></a>
  </div>
</section>