---
layout: default
---

<article>
    <h2>{{ page.title }}</h2> 
    {% if page.feature-img %}
    <img class="feature-image" src={{ page.feature-img }} alt="Feature Image"/>
    {% endif %}    
    <p><small class="post-date">Published on {{ page.date | date_to_string }}</small>
    
<span class="read-time" title="Estimated read time">    
      
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
      <small>1 min reading time</small>
    {% else %}
       <small>{{ words | divided_by:180 }} mins reading time</small>
    {% endif %}
    
  </span>
  <small class="post-date">Categories: {{page.categories | join: ', '}}</small></p>
  <style>
      .post-date,
      .read-time {
        margin-right: 1em;
        color: darkgrey;
        font-style: italic;        
      }

      
     
  </style>
   
    {{ content }}

    <a href="{{ site.baseurl }}/blog" class="myButton">Back to Archive</a>
</article> 



